body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #777;
}
a {
    text-decoration: none;
    cursor: pointer;
    &,
    &:visited,
    &:hover,
    &:active {
        color: #606;
    }
    &:hover {
        text-decoration: underline;
    }
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}
.btn, input[type="submit"] {
    font-family: inherit;
    letter-spacing: 1px;
}
