.copyrightFooterContainer {
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
    text-transform: none;
    line-height: normal;
    white-space: nowrap;
    clear: both;
    a {
        color: inherit;
        font-size: inherit;
        text-transform: none;
        line-height: inherit;
        border-bottom: none;
    }
    > * {
        vertical-align: middle;
        display: inline-block;
    }
}

.copyrightMwnLogo {
    // display: inline-block;
    width: 110px;
    font-size: inherit;
    min-height: 30px;
    background-image: url(http://images.meredith.com/common/logos/meredithWN_logo.svg);
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: .8em;
}

.copyrightTextLinks {
    white-space: normal;
    a {
        white-space: nowrap;
    }
}

.copyrightTextLinks a:nth-child(n+2) {
    border-left: 1px solid #ccc;
    padding: 0 .5em;
}
.copyrightTextLinks a:nth-child(2) {
    margin-left: .5em;
}

.white .copyrightFooterContainer {
    color: #fff;
    .copyrightMwnLogo {
        background-image: url(http://images.meredith.com/common/logos/meredithWN_logo_white.svg);
    }
    .copyrightTextLinks a:nth-child(n+2) {
        border-left-color: #fff;
        border-left-color: rgba(255, 255, 255, 0.4);
    }
}

@media screen and (max-width: 480px) {
    .copyrightFooterContainer {
        text-align: center;
    }
    .copyrightMwnLogo {
        display: none;
    }
}

// MDP-10: part of Christa's solution to append " New!" to the Privacy Policy links

a[href="http://www.meredith.com/privacy.html"]:after,
a[href*="item=/legal/privacy"]:after {
    content: ' - Your California Rights';
}

// Use this HTML to place the AdChoices link:
// <a id="_bapw-link" target="_blank"><img id="_bapw-icon"/><span>AdChoices</span></a>
#_bapw-link {
    cursor: pointer;
    img {
        border: 0 !important;
        display: inline !important;
        vertical-align: middle !important;
        padding-right: 5px !important;
    }
    span {
        vertical-align: middle !important;
    }
}