@media all and (max-width: 767px) {
    #jds {
        .prize > *:first-child,
        .prize > *:nth-child(2),
        .winners > .col2 > * {
            width: 100%;
            display: block;
        }
        .prize > *:first-child {
            margin: 0 auto;
            max-width: 350px;
        }
        .prize {
            form {
                text-align: center;
            }
        }
        form.signup,
        form.info,
        form.login {
            width: auto;
            display: block;
            margin: 1em 0 0;
        }
    }
}
