@import "compass/css3";
@import "compass/css3/transform";

@import "solvemedia";

#jds {
    /**
     * Generic Styles
     */
    * {
        box-sizing: border-box;
    }
    a {
        cursor: pointer;
    }
    img {
        max-width: 100%;
    }
    h1, h2, h3, h4, h5, h6, p {
        line-height: 125%;
        margin: .5em 0;
    }
    h3, .legal {
        span {
            white-space: nowrap;
        }
    }
    .btn, input[type="submit"] {
        font-family: inherit;
        font-size: inherit;
        line-height: 1;
        white-space: nowrap;
        border-width: 0;
        padding: .7em 1.2em;
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        text-decoration: none;
        background-color: #454545;
        border-color: #333;
        color: #fff;
        border-radius: 0.3em;
        background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    }
    a.btn:hover {
        text-decoration: none;
    }
    input[disabled="disabled"] {
        opacity: .4;
        cursor: default;
    }
    .btn:hover {
        text-decoration: none;
    }
    .input[disabled="disabled"] {
        opacity: .5;
    }
    .account {
        display: none;
        text-align: right;
        p {
            margin: 0;
            font-size: 80%;
        }
        @media all and (min-width: 640px) {
            margin: 0;
            float: right;
        }
    }
    input[type="checkbox"] {
        margin: 0 .5em 0 0;
    }
    .legal {
        opacity: .7;
    }
    /**
     * Hiding of modules/partials on home page
     */
    .frame {
        margin-bottom: 2em;
        display: none;
        &#prize {
            display: block;
        }
    }
    /**
     * Margins/Spacing
     */
    #profile,
    .legal,
    .see_prizes,
    .see_winners {
        display: block;
        margin-bottom: 2rem;
    }
    // .legal,
    .list,
    .calendar {
        margin-bottom: 1rem;
    }
    /**
     * Signup Styles
     */
    form.signup,
    form.login {
        margin-top: 1em;
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
    form.login {
        display: inline-block;
        width: 45%;
        margin-left: 5%;
        margin-top: 2.5em;
        // ugly way of lining up with firstname input field
        padding: 1.5em 1.5em 2em;
        background-color: #e6dae5;
        h4 {
            margin-bottom: 1em;
        }
    }
    form {
        .alert,
        .forgot {
            margin: .5em 0;
        }
        .forgot {
            font-size: 90%;
            margin: -1em 0 2em;
            display: block;
            text-align: right;
        }
    }
    label {
        position: relative;
        &.req:after {
            content: "*";
            position: absolute;
            left: -.5em;
            top: 0;
            vertical-align: super;
            font-size: smaller;
        }
    }
    fieldset {
        border: 0;
        padding: 0;
        margin: 0 0 1em 0;
        line-height: 1.2em;
    }
    fieldset.submit {
        margin-bottom: 0;
    }
    input[type="text"],
    input[type="password"] {
        line-height: inherit;
        font-size: inherit;
        padding: .5em .3em;
        background: #eee;
        border: 0;
    }
    fieldset {
        label,
        input[type="text"],
        input[type="password"] {
            display: block;
            width: 100%;
            margin-bottom: .5em;
        }
        label {
            font-size: 85%;
            margin: .5em 0 0;
        }
    }
    fieldset.login {
        input[type="text"],
        input[type="password"] {
            background: #fff;
        }
        label {
            margin: .5em 0 0;
        }
    }
    #login_form {
        fieldset.submit {
            text-align: center;
        }
    }
    #reset_form {
        .success {
            display: none;
        }
    }
    #signup {
        // temporary greeting:
        // An enhanced experience is here! …
        h5 {
            background-color: #ffa;
            padding: 1em;
            font-weight: bold;
            margin-bottom: -.5em;
            span {
                font-weight: normal;
                font-size: 80%;
                display: block;
                margin-top: 1rem;
            }
        }
        #forgot_form {
            display: none;
        }
        &.forgot {
            #forgot_form {
                display: inline-block;
            }
            #login_form {
                display: none;
            }
        }
    }
    a.forgot_close {
        display: inline-block;
        margin: 0 0 0 1em;
    }
    .slideshow a:before,
    .loader {
        background: url(data:image/gif;base64,R0lGODlhEAALAPQAAObm5tjY2E5OTiIiIvT09Dg4OO7u7mRkZAQEBL6+viYmJoqKisrKyra2ttzc3Orq6vLy8qCgoAAAAAYGBi4uLtDQ0Nra2mBgYLq6ukpKSoKCgv///wAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCwAAACwAAAAAEAALAEAFLSAgjmQJVGglWqy1ttXzqKdMx3PrAvrL4jebCGgqGo8rYW02tBGXwdlzqkSSQgAh+QQJCwAAACwAAAAABAALAAAFEeAkSSJFjSZ6Sim7tvB7imQIACH5BAkLAAAALAAAAAAKAAsAAAUrICCOgyQN2nVpopRl0oVhV/vGcw24sEzbvRwQ99vdfDoeMXlLrYYjkmkQAgAh+QQJCwAAACwGAAAACgALAAAEJxDIqRBS65wlkRDIkSRH94VjCXigSJptCqPveroqS+dnts0TikURAQAh+QQJCwAGACwGAAEACgAJAAADIGi6NVMgBKCGECMQEurNW2dYmMZ5ZYiC5/hF07owTpEAACH5BAULAAAALAAAAgAQAAcAAAUt4OM4DwCIpNlEUeNAkGO+sRkxTETLwG7jOhjPB7jliERjsNYT/nKo0mkkXbVCACH5BAUWAAIALAAAAgAQAAcAAAMgCBEgosxBZUxwoV6Rbd8fpoWcJnpmaZ1LSn6TtDTPnAAAOw==) no-repeat;
        display: inline-block;
        margin: 0 0 0 5px;
        width: 16px;
        height: 11px;
        opacity: 0;
        vertical-align: middle;
        &.on {
            opacity: 1;
        }
    }
    .alert > *,
    .alert {
        color: red;
        > a {
            text-decoration: underline;
        }
    }
    .alert {
        display: none;
    }
    /**
     * Generic Styles
     */
    .banner {
        display: block;
        img {
            width: 100%;
        }
    }
    h6 {
        font-size: 1.1em;
    }
    h5 {
        font-size: 1.2em;
    }
    /**
     * Winners & Recent Winners
     */
    .winners {
        font-size: 90%;
        &.slideshow {
            direction: rtl;
            & * {
                direction: initial;
            }
        }
        div, img {
            display: inline-block;
            vertical-align: middle;
        }
        > div > div {
            width: 60%;
        }
        img {
            max-width: 36%;
            margin-right: 4%;
        }
        > div {
            width: 48%;
            margin: 1em 0;
            &:nth-child(odd) {
                margin-right: 4%;
            }
        }
        h5,
        h6,
        p {
            margin: 0;
            font: inherit;
        }
    }
    /**
     * Common styling for Carousel and Slideshow
     */
    .slideshow {
        // prev/next arrows
        b {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            display: none;
            cursor: pointer;
            font-size: 5em;
            line-height: 100%;
            height: 100%;
            width: auto;
            position: absolute;
            top: 0;
            font-weight: normal;
            z-index: 1;
            text-shadow: 0 0 .6rem #fff;
            &:after {
                display: block;
                position: relative;
                top: 50%;
                margin-top: -1.5rem;
            }
            &.prev {
                left: -.55em;
                text-align: left;
                &:after {
                    content: "〈";
                }
            }
            &.next {
                right: -.55em;
                text-align: right;
                &:after {
                    content: "〉";
                }
            }
        }
        &:hover b {
            display: block;
        }
        @media all and (max-width: 728px) {
            b {
                display: block;
            }
        }
    }
    // fades
    .fade {
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 1rem;
        background: transparent;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
            @include transform3d(rotateZ(180deg));
        }
    }
    .flush_left .prev,
    .flush_right .next,
    .flush_left .fade.left,
    .flush_right .fade.right {
        opacity: 0;
    }
    /**
     * Calendar
     */
    #calendar {
        header {
            background: rgba(102, 0, 102, 0.79);
            color: #fff;
            font-size: 1.3em;
            display: block;
            padding: .5em;
            text-align: center;
        }
    }
    .calendar {
        /**
         * default calendar styles
         */
        a {
            display: inline-block;
            position: relative;
            vertical-align: top;
            border: 1px solid #ccc;
            border-left-width: 0;
            &:hover {
                text-decoration: none;
                h4 {
                    display: block;
                }
            }
        }
        i {
            font-style: normal;
            line-height: 1;
            padding: .7em 0;
            color: #333;
            &:first-child {
                // day of week (Sunday, Monday...)
                display: block;
                background-color: #c3c3c3;
                text-align: center;
            }
            &:nth-child(2) {
                // day of the month (1, 2, 3...)
                position: absolute;
                top: 0;
                left: .5em;
                letter-spacing: -1px;
            }
        }
        a.today i:nth-child(2) {
            background: #f00;
            border-radius: 0.8em;
            color: #fff;
            top: .4em;
            left: .4em;
            width: 1.6em;
            height: 1.6em;
            padding: .3em 0;
            line-height: 1;
            text-align: center;
        }
        img {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
        h4 {
            color: #fff;
            display: none;
            text-align: center;
            margin: 0;
            background: rgba(102, 0, 102, 0.79);
            width: 100%;
            padding: .3em;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        p {
            padding: .5em;
            margin: 0;
        }
        /**
         * Non-slideshow
         */
        > a {
            width: 25%;
            // padding-bottom: 25%;
            overflow: hidden;
            border-color: #ddd;
            border-style: solid;
            border-top-width: 0;
            border-left-width: 0;
            border-bottom-width: 1px;
            border-right-width: 1px;
            &:nth-child(-n+4) {
                border-top-width: 1px;
            }
            &:nth-child(4n+1) {
                border-left-width: 1px;
            }
            i {
                &:first-child {
                    // day of week (Sunday, Monday...)
                    display: none;
                }
                &:nth-child(2) {
                    // day of the month (1, 2, 3...)
                    border-radius: 0.8em;
                    width: 1.6em;
                    height: 1.6em;
                    padding: .3em 0;
                    line-height: 1;
                    text-align: center;
                    position: absolute;
                    top: .3em;
                    left: .3em;
                    font-size: 1.2em;
                    background: #fff;
                    background: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
    /**
     * Calendar Slideshow
     */
    .calendar.slideshow {
        font-size: 90%;
        -webkit-overflow-scrolling: touch;
        position: relative;
        overflow: hidden;
        padding: 0;
        .wrap {
            overflow-y: hidden;
            overflow-x: scroll;
            white-space: nowrap;
            margin-bottom: -100px;
            > a {
                width: 11em;
                margin-bottom: 101px;
                vertical-align: top;
                border: 1px solid #ccc;
                border-left-width: 0;
                &:first-child {
                    border-left-width: 1px;
                }
                &:before {
                    // 16 x 11 px
                    content: " ";
                    opacity: 1;
                    width: 100%;
                    background-position: 50% 50%;
                    position: absolute;
                    top: 50%;
                    margin-top: -6px;
                }
                &.loaded {
                    img {
                        visibility: visible;
                    }
                    &:before {
                        display: none;
                    }
                }
                img {
                    visibility: hidden;
                }
                h4 {
                    white-space: normal;
                }
            }
        }
    }
    /**
     * Prize
     */
    .prize {
        clear: both;
        & > *:first-child,
        & > *:nth-child(2) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            margin: .25em 0;
        }
        & > *:first-child {
            margin-right: 5%;
            width: 45%;
        }
        .alert {
            margin-bottom: 1rem;
        }
        .info {
            font-size: 90%;
            h1 {
                margin-bottom: 1rem;
            }
            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
                strong {
                    color: #f00;
                }
            }
        }
        input[type="submit"] {
            font-size: 1.5em;
        }
    }
    /**
     * Prize Slideshow
     */
    .slideshow {
        position: relative;
        padding-left: 2em;
        padding-right: 2em;
        overflow: hidden;
        // dots
        .dots {
            text-align: center;
            margin: 0;
            width: 100%;
            i {
                cursor: pointer;
                display: inline-block;
                margin: .25em;
                width: 1em;
                height: 1em;
                border: .15em solid #fff;
                border-radius: .5em;
                background: #999;
            }
        }
        &.cur1 .dots i:first-child {
            background: #fff;
            border: .25em solid #999;
        }
        &.cur2 .dots i:nth-child(2) {
            background: #fff;
            border: .25em solid #999;
        }
        &.cur3 .dots i:last-child {
            background: #fff;
            border: .25em solid #999;
        }
    }
    /**
     * Thank You
     */
    #thanks {
        h2 {
            margin-bottom: 1em;
        }
    }
    /**
     * Rules
     */
    #rules {
        ins {
            font-family: monospace;
            font-weight: bold;
            text-decoration: none;
            color: #000;
            background: #ddd;
        }
        ol, ul {
            padding-left: 1.5em;
        }
        ol {
            ol {
                list-style-type: lower-alpha;
            }
        }
        ul {
            list-style-type: disc;
        }
        table, li, p {
            line-height: inherit;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        table {
            border: 1px solid #fff;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #fff;
            padding: .5em;
        }
        .scroll {
            max-width: 100%;
            display: block;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        span {
            white-space: nowrap;
        }
        a {
            text-decoration: none;
            // color: $oberto_orange;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@import "responsive";