// R4L Colors:
//
// Red:
// #ed1d24 / rgb(237, 29, 36) / rgba(235, 0, 8, .887)*
//
// * From: http://stackoverflow.com/questions/12228548/findinq-equivalent-color-with-opacity
//   r1 = (r3 - r2 + r2*a1)/a1
//   g1 = (g3 - g2 + g2*a1)/a1
//   b1 = (b3 - b2 + b2*a1)/a1
//
//   RGB3 (the final desired color)
//   RGB2 (the background color)
//   A1 (how much opacity you want)
//
//   Let's find the right rgba for .2 opacity*:
//   r1 = (237 - 255 + 255*.887)/.887 ~= 234.7
//   g1 = ( 29 - 255 + 255*.887)/.887 ~=    .2
//   b1 = ( 36 - 255 + 255*.887)/.887 ~=   8.1
//


$debug-browser-support: true;

@charset "UTF-8";

@import "sweeps";

#jds.recipe4living {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    input[type="submit"],
    .btn {
        background-color: #ed1d24;
    }
    .calendar {
        h4 {
            background: rgba(235, 0, 8, .8);
        }
        // > div {
        //     > a {
        //         border-color: #666;
        //         i {
        //             &:first-child {
        //                 // day of week (Sunday, Monday...)
        //                 color: #fff;
        //                 background: #444;
        //             }
        //             &:nth-child(2) {
        //                 // date (1, 2, 3...)
        //                 color: #fff;
        //             }
        //         }
        //     }
        // }
    }
    #calendar {
        header {
            background: #ed1d24;
        }
    }
    h1 {
        font-size: 1.8em;
        color: #333;
        font-weight: bold;
    }
    #calendar > header,
    .calendar,
    .slideshow,
    .banner {
        @media all and (max-width: 640px) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        b {
            color: #ed1d24;
        }
    }
    .banner {
        // background-image: inline-image("betterrecipes/banner.png");
        background-image: image-url("betterrecipes/banner.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        padding-top: 15%;
        text-decoration: none;
        span {
            display: block;
            background: #464646;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            padding: .4rem .8rem;
            font-size: .9rem;
        }
        @media all and (max-width: 640px) {
            background-size: 90% auto;
            background-position: 1rem 17%;
            padding-top: 18%;
            span {
                padding: .4rem 1rem;
            }
        }
    }
}